<!DOCTYPE html>
<html>
  <head>
    <title>TempMonitor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid p-0">
    <%= render "layouts/navigation" %>
    <%= render "layouts/notification" %>
    <main class="d-flex flex-column align-items-center">
      <%= yield %>
    </main>
  </body>
</html>
